

@if (Context.User.Identity.IsAuthenticated == false)
{
    <li class="nav-item">
        <a asp-controller="Libros"
           asp-action="PerfilUsuario"
           class="nav-link">
            Log In
        </a>
    </li>
}
else
{
    <li class="nav-item">
        <a asp-controller="Managed"
           asp-action="Logout"
           class="nav-link">
            Cerrar sesión
        </a>
    </li>
    <li class="nav-item">

        @{
            string foto = Context.User.FindFirst("Foto").Value;
            int idUsuario = int.Parse(Context.User.FindFirst("IdUsuario").Value);
        }
        <a asp-controller="Libros"
           asp-action="PerfilUsuario"
           class="nav-link">
            <img src="~/images/@foto" 
            style="width:30px;height:30px;border-radius: 100" />

            Hola @Context.User.Identity.Name!
        </a>
    </li>
    <li class="nav-item">
        <a asp-controller="Libros"
           asp-action="Carrito"
           class="nav-link">
           Carrito
        </a>
    </li>
    <li class="nav-item">
        <a asp-controller="Libros"
           asp-action="MisPedidos"
           
           class="nav-link">
            Mis pedidos 
        </a>
    </li>
    <li class="nav-link">
        @{
            List<int> ids = Context.Session.GetObject<List<int>>("CARRITO");
        }
        Libros:
        @if (ids != null)
        {
            @ids.Count
        }
        
    </li>
}